body {
  background-color: #f5f5f5; 
}

div:hover {
  background: #EA7500;
  display: block;
}

div + p {
  text-align: center;
  background: red;
  color: white;
}

div > p {
  text-align: center;
  background: blue;
  color: yellow;
}
